{% extends 'base.html.twig' %}

{% block title %}Prendre un rendez-vous{% endblock %}

{% block body %}
    <h1> Souhaitez-vous Rendez-vous</h1>

    {{ include('rendez_vous/_form.html.twig') }}

    <a href="{{ path('app_rendez_vous_index') }}">Retour à la liste des rendez vous</a>
{% endblock %}
